/********** colors ************
https://coolors.co/dbe3d8-f1faee-b6e0e2-9bced4-4b86aa-192f4d
dbe3d8-light grey
f1faee-tannish grey
b6e0e2-marine blue
9bced4-frosty blue
4b86aa-air force blue
192f4d-deep blue
*****************/
/*******fonts
Ribeye-marrow
Lexend******/
body, div, p {
    font-family: "Ribeye-marrow";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lexend" !important;
}
#hero-text {
    text-align: center;
    font-family: "Ribeye-Marrow";
}
.header .header-logo a{
    color: #192f4d;
}
 
/**** COLORS *****/
body {
    background-color: #b6e0e2 !important;
}
#portfolio {
    background-color: #b6e0e2;
}
.stroke-text {
    color: #192f4d !important;
    -webkit-text-stroke-color:#192f4d;
}
.a:hover {
    color: #192f4d;
}
.bg-dark-content, .bg-black, [class*='bg-dark'], [class*='bg-gradient-'], [class*='bg-color-'] {
    background-color: #f1faee !important;
}
.text-link-2, #menu-button, .mt-3, i, #button {
    color: #192f4d !important;
}

.bg-dark-content, .bg-black, [class*='bg-dark'], [class*='bg-gradient-'], [class*='bg-color-']{
    background-color: #4b86aa !important;
}

.button-circle.button-circle-dark {
    background-color:#192f4d !important;
    color:#4b86aa !important;
    -webkit-text-fill-color: #4b86aa !important;
}

#uparrow {
color:#4b86aa !important;
}
#scrollheader::scroll {
    background-color: #192f4d;
    color:#f1faee;
}

/*** NAV MENU ****/
#closeButton {
    background-color: #192f4d !important;
    border-radius: 20px;
}

.fm-wrapper {
    background-color: #f1faee !important;
}

/*** OUR TEAM SECTION *******/

#ourteam, #foundersjobs {
    color: #4b86aa ;
}
#founders, #accordiantitle, h5 {
    color: #192f4d !important;
}

 #accordiantext {
    color: #4b86aa !important;
}

.accordionli:active {
    color: #192f4d;
}